@import "../../../../styles/base.scss";

/**
 * ********** Стили компонента Прайс-лист **********
 */
.pricelist {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: $white;

    .pricelist__heading {
        display: flex;
        flex-direction: column;
        position: relative;
    
        & > *:nth-child(n) {
            margin-bottom: 10px;
        }

        .pricelist__modal {
            display: none; // it turn off
            flex-direction: column;
            position: absolute;
            top: 90px;
            right: 10px;
            width: 257px;
            height: 180px;
            border: 1px solid $brandPantonFonts;
            background-color: $white;
            z-index: 1000;

            .pricelist__block--left {
                display: flex;
                justify-content: flex-end;
            }

            .modal__block {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 10px;

                .block__text {
                    margin-left: 10px;
                }

                .block__button {
                    padding: 10px 30px;
                    background-color: $white;
                    border-radius: 40px;
                    color: $brandPantonBlue;
                    border: 1px solid $brandPantonBlue;

                    &:hover {
                        background-color: $brandPantonBlue;
                        color: $white;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .pricelist__table {
        overflow-x: scroll;

        .pricelist__frame {
            display: flex;
            flex-direction: column;

            .frame__caption {
                display: flex;
                flex-direction: row;
                position: sticky;
                top: 0;
                background-color: $white;

                .caption__wrap {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    
                    &:last-child {
                        border-right: 1px solid $brandBorderColor;
                    }

                    &:nth-child(3){
                        .wrap__index {
                            width: 200px;
                        }
                    }
                    &:nth-child(2),
                    &:nth-child(4){
                        .wrap__index {
                            width: 250px;
                        }
                    }

                    .wrap__index {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        text-align: center;
                        width: 400px;
                        height: 40px;
                        border-left: 1px solid $brandPantonFonts;
                        border-top: 1px solid $brandPantonFonts;
                        cursor: pointer;
                        transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1); 


                        &--active {
                            color: $white;
                            background: $brandPantonBlue
                        }

                        .index__text {
                            width: 300px;
                        }

                        .index__icon--sorting {
                            display: block;
                            position: absolute;
                            right: 5px;
                            width: 20px;
                            height: 20px;
                        }

                        .index__icon--filtering {
                            display: block;
                            position: absolute;
                            right: 5px;
                            width: 15px;
                            height: 15px;
                        }

                        &:hover {
                            border: 1px solid $brandPantonBlue;
                        }
                    }
                }
            }

            .frame__table {
                display: flex;
                flex-direction: row;

                .table__column {
                    display: flex;
                    flex-direction: column;

                    &:last-child {
                        border-right: 1px solid $brandBorderColor;
                    }

                    &:nth-child(3) {
                        .column__item {
                            justify-content: flex-end;
                            width: 200px;
                        }
                    }

                    &:nth-child(2),
                    &:nth-child(4) {
                        .column__item {
                            width: 250px;
                        }
                    }

                    .column__item {
                        display: flex;
                        align-items: center;
                        width: 400px;
                        height: 30px;
                        padding: 5px;
                        border-left: 1px solid $brandBorderColor;
                        border-bottom: 1px solid $brandBorderColor;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        cursor: default;

                        &:nth-child(odd) {
                            background-color: #f1f1f1;
                        }
    
                        .item__text {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            
                        }
                        .item__icon {
                            display: none;
                            margin-right: 5px;
                            width: 16px;
                            height: 16px;
                            background: url('../../../../images/plus_item.svg') no-repeat center;
                            background-size: contain;

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        &:hover {
                            border: 1px solid $brandPantonBlue;
                        }
                    }
                }
            }
        }
    }
}

.heading__text {
    color: $brandPantonBlack;
    font-size: 20px;
    font-family: $font-regular;
}

.heading__buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;

    & > *:nth-child(n) {
        margin: 10px 0;
    }

    .buttons-wrapper {
        flex: 1;
        display: flex;
    }

    & > .buttons, & > * > .buttons {
        display: block;
        padding: 10px 48px;
        margin-right: 14px;
        white-space: nowrap;
        border: 1px solid $brandPantonBlue;
        color: $brandPantonBlue;
        border-radius: 40px;
        cursor: pointer;
        transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);

        &:hover, &--active {
            background-color: $brandPantonBlue;
            color: $white;
            cursor: pointer;
        }
    }
}

.search-wrapper {
    display: flex;
    padding: 10px 0;
    border: 1px solid $brandPantonFonts;
    //border-left: 1px solid $brandPantonFonts;
    //border-bottom: 1px solid  $brandPantonFonts;
    //border-color: #ebeff3;

    &:nth-child(2) {
        .column__item {
            width: 200px;
        }
    }

    &:nth-child(3) {
        .column__item {
            width: 200px;
        }
    }

    &:focus-within {
        border: 1px solid $brandPantonBlue;
    }

    .search-input {
        flex: 1;

        &:hover, &:focus {
            border: none !important;
        }
    }

    .search-icon {
        width: 20px;
        cursor: pointer;
    }
}
