@import "../../../../styles/base.scss";

/**
 * ********** Стили компонента Прайс-лист **********
 */
.pricelist {
    display: flex;
    flex-direction: column;
    padding: 5px;

    &__heading, .heading {
        display: flex;
        flex-direction: column;
        position: relative;

        &__text {
            margin-bottom: 20px;
            color: $brandPantonBlack;
            font-size: 20px;
            font-family: $font-regular;
        }

        &__buttons, .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 10px;

            &__filter {
                padding: 10px 48px;
                border: 1px solid $brandPantonBlue;
                border-radius: 40px;
                color: $brandPantonBlue;
            
                &:hover {
                    background-color: $brandPantonBlue;
                    color: $white;
                    cursor: pointer;
                }
            }

            &__export, .export {
                padding: 10px 9px;
                margin-right: 20px;
                border: 1px solid $brandPantonBlue;
                color: $brandPantonBlue;
                border-radius: 40px;
            
                &:hover {
                    background-color: $brandPantonBlue;
                    color: $white;
                    cursor: pointer;
                }
            }
        }

        &__modal, .modal {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 90px;
            right: 10px;
            width: 257px;
            height: 180px;
            border: 1px solid $brandPantonFonts;
            background-color: $white;
            z-index: 1000;

            &__block--left {
                display: flex;
                justify-content: flex-end;
            }

            &__block, .modal-block {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 10px;

                &__text {
                    margin-left: 10px;
                }

                &__button {
                    padding: 10px 30px;
                    background-color: $white;
                    border-radius: 40px;
                    color: $brandPantonBlue;
                    border: 1px solid $brandPantonBlue;

                    &:hover {
                        background-color: $brandPantonBlue;
                        color: $white;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &__main, .pricelist-main {
        display: flex;
        height: 79vh;
        overflow-x: scroll;
        margin-right: 20px;

        &__frame, .frame {
            display: flex;
            flex-direction: column;

            &__caption, .frame-caption {
                display: flex;
                flex-direction: row;
                position: sticky;
                top: 0;
                background-color: $white;

                &__wrap, .wrap {
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    &__index, .index {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        text-align: center;
                        width: 420px;
                        height: 40px;
                        border: 1px solid $brandPantonFonts;

                        &__icon {
                            display: block;
                            position: absolute;
                            right: 5px;
                            width: 20px;
                            height: 20px;
                            background: url('../../../../images/filter.svg') no-repeat center;
                        }

                        &:hover {
                            border: 1px solid $brandPantonBlue;
                        }
                    }

                    &__input {
                        margin: 5px;
                        padding: 10px;
                        border: 1px solid $brandPantonFonts;
                        border-color: $brandPantonFonts;
                        outline: none;
                    }

                    &__icon {
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                    }
                }
            }

            &__table, .frame-table {
                display: flex;
                flex-direction: row;

                &__column, .column {
                    display: flex;
                    flex-direction: column;

                    &__item, .item {
                        display: flex;
                        align-items: center;
                        width: 420px;
                        height: 30px;
                        padding: 5px;
                        border-left: 1px solid $brandBorderColor;
                        border-bottom: 1px solid $brandBorderColor;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
    
                        &:nth-child(odd) {
                            background-color: #f1f1f1;
                        }
    
                        &__text {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            
                        }
                        &__icon {
                            display: block;
                            margin-right: 5px;
                            width: 16px;
                            height: 16px;
                            background: url('../../../../images/plus_item.svg') no-repeat center;
                            background-size: contain;

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        &:hover {
                            border: 1px solid $brandPantonBlue;
                        }
                    }
                }
            }
        }
    }
}
