{
    "env": {
        "test": {
            "presets": ["env", "react", "stage-2"],
            "plugins": ["transform-export-extensions"],
            "only": [
            "./**/*.jsx",
            "node_modules/jest-runtime"
            ]
        }
    }
}