@import "../../../../styles/base.scss";

/**
 * ********** Стили компонента Заказы **********
 */
.shipment {
    display: flex;
    flex-direction: column;
    padding: 5px;

    .shipment__heading {
        display: flex;
        flex-direction: column;
        position: relative;

        .heading__text {
            margin-bottom: 20px;
            color: $brandPantonBlack;
            font-size: 20px;
            font-family: $font-regular;
        }

        .heading__buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 10px;

            .buttons__filter {
                padding: 10px 48px;
                border: 1px solid $brandPantonBlue;
                border-radius: 40px;
                color: $brandPantonBlue;

                &:hover {
                    background-color: $brandPantonBlue;
                    color: $white;
                    cursor: pointer;
                }
            }

            .buttons__export {
                padding: 10px 9px;
                margin-right: 20px;
                border: 1px solid $brandPantonBlue;
                color: $brandPantonBlue;
                border-radius: 40px;

                &:hover {
                    background-color: $brandPantonBlue;
                    color: $white;
                    cursor: pointer;
                }
            }
        }

        .shipment__modal {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 90px;
            right: 10px;
            width: 257px;
            height: 180px;
            border: 1px solid $brandPantonFonts;
            background-color: $white;
            z-index: 1000;

            .shipment__block--left {
                display: flex;
                justify-content: flex-end;
            }

            .modal__block {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 10px;

                .block__text {
                    margin-left: 10px;
                }

                .block__button {
                    padding: 10px 30px;
                    background-color: $white;
                    border-radius: 40px;
                    color: $brandPantonBlue;
                    border: 1px solid $brandPantonBlue;

                    &:hover {
                        background-color: $brandPantonBlue;
                        color: $white;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .shipment__table {
        display: flex;
        height: 79vh;
        overflow-x: scroll;
        margin-right: 20px;

        .shipment__frame {
            display: flex;
            flex-direction: column;

            .frame__caption {
                display: flex;
                flex-direction: row;
                position: sticky;
                top: 0;
                background-color: $white;

                .caption__wrap {
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    .wrap__index {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        text-align: center;
                        width: 380px;
                        height: 40px;
                        border: 1px solid $brandPantonFonts;

                        .index__text {
                            width: 300px;
                        }

                        .index__icon--sorting {
                            display: block;
                            position: absolute;
                            right: 5px;
                            width: 20px;
                            height: 20px;
                        }

                        .index__icon--filtering {
                            display: block;
                            position: absolute;
                            right: 5px;
                            width: 15px;
                            height: 15px;
                        }

                        &:hover {
                            border: 1px solid $brandPantonBlue;
                        }
                    }

                    .wrap__input {
                        margin: 5px;
                        padding: 10px;
                        border: 1px solid $brandPantonFonts;
                        border-color: $brandPantonFonts;
                        outline: none;
                    }

                    .wrap__icon--magnifier {
                        position: absolute;
                        right: 10px;
                        bottom: 15px;
                    }

                    .wrap__icon--arrow {
                        position: absolute;
                        right: 10px;
                        bottom: 20px;
                    }
                }
            }

            .frame__table {
                display: flex;
                flex-direction: row;

                .table__column {
                    display: flex;
                    flex-direction: column;

                    .column__item {
                        display: flex;
                        align-items: center;
                        width: 380px;
                        height: 30px;
                        padding: 5px;
                        border-left: 1px solid $brandBorderColor;
                        border-bottom: 1px solid $brandBorderColor;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        &:nth-child(odd) {
                            background-color: #f1f1f1;
                        }

                        .item__text {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                        }

                        .item__icon {
                            display: block;
                            width: 16px;
                            height: 16px;
                            margin-right: 5px;
                            background: url('../../../../images/plus_item.svg') no-repeat center;
                            background-size: contain;

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        &:hover {
                            border: 1px solid $brandPantonBlue;
                        }
                    }
                }
            }
        }
    }
}