@import '../../../../../../styles/base.scss';

.back {
    width: 100%;
    background-color: $white;

    a {
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }

    .back__arrow {
        width: 32px;
        height: 14px;
        margin: 18px 20px 18px 30px;
    }

    .back__text {
        font-size: 20px;
        color: $brandPantonBlack;

        &:hover {
            color: $brandPantonBlue;
        }
    }
}