@import "../../../../styles/base.scss";

.notifications {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $brandPantonBlue;
    background-color: $white;
}