/**
 * ********** Переменные основных цветов **********
 */
$white: #fff;
$brandSideColor: #404040;
$brandPantonBlack: #000000;
$brandPantonRed:   #d03839;
$brandPantonFonts: #ebeff3;
$brandPantonGrey: #191E22;
$brandPantonBlue: #1d68d9;
$brandPantonText: #293440;
$brandPantonSubText: #8b9298;
$brandSideBorderColor: #94cbfd;

/**
 * ********** Начертания шрифтов **********
 */
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 800;

/**
 * ********** Шрифты **********
 */
$code: 'Gotham Pro Light';
$font-light: 'Gotham Pro Light';
$font-regular: 'Gotham Pro Regular';
