// base colors
//@import "../fonts/stylesheet.css";
//$black: #212121;
$white: #fff;
//$lighterGray: #fafafa;
//$lightGray: #fefefe;
//$gray: #e0e0e0;
//$darkGray: #616161;
//$primaryBlue: #eb5757;  //red
//$hoverBlue: #d3354f;
//$red: #dc2222;
//$mainDark: #191f2b;
//$lightDark: #222a37;
$brandSideColor: #404040;
$brandPantonBlack: #000000;
$brandPantonRed:   #AF272F;            //#d03839;
$brandPantonGrey: #9999993a;
$brandPantonBlue: #1e3243;
$brandSideBorderColor: #94cbfd;

// font weights
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 800;
// fonts
$code: 'Gotham Pro';
