@import "../../../../styles/base.scss";


.main-content {
    height: calc(100vh - 70px - 20px - 20px);
    flex: 2 100%;
    flex-direction: column;
    position: sticky;
    top: calc(70px + 20px);
    margin: 20px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    font-family: "Gotham Pro Regular";
    font-size: 14px;
    color: $brandPantonGrey;
    overflow: auto;
}

/** ********** MAIN STYLES **********/
.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-x: hidden;

    &__block {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;

        &:last-child {
            margin: 0;
        }

        &.status {
            .block-container {
                .block-element {
                    margin: 0 0 10px;
                    min-height: 96px;

                    &:last-child {
                        margin: 0;
                    }

                    &__icon{
                        max-width: 59px;
                        height: 59px;
                        border-radius: 13px;

                        svg {
                            width: 27px;
                            height: 27px;
                        }
                    }

                    &__title {
                        line-height: 18px;
                        color: $brandPantonBlack;
                    }

                    &__subtitle {
                        color: $brandPantonBlue;
                    }
                }
            }
        }

        &.seggestions {
            .block-element {
                &__info {
                    margin: 0;
                    padding: 30px 30px;
                }

                &__title {
                    padding: 10px 0;
                    margin: 0 10px;
                    font-size: 14px;
                    line-height: 18px;
                    color: $brandPantonSubText;

                    svg {
                        width: 14px;
                        height: 14px;
                        fill: $brandPantonSubText;
                        margin-right: 7px;
                    }
                }

                &__subtitle {
                    margin: 0 10px 20px 10px;
                    font-size: 20px;
                    line-height: 23px;
                }

                &__description {
                    margin: 0 10px 20px 10px;
                    padding-left: 10px;
                    font-size: 14px;
                    line-height: 18px;
                    color: $brandPantonSubText;
                }

                &__button {
                    display: flex;
                    align-items: center;
                    padding: 16px;
                    font-size: 15px;
                    line-height: 14px;
                    color: $brandPantonBlue;
                    background: $brandSideBorderColor;
                    cursor: pointer;
                }
            }
        }
    }
}

.block-title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 40px;

    &--important {
        height: 77px;
        display: flex;
        align-items: center;
        font-size: 25px;
        line-height: 25px;
        color: $white;
        background: $brandPantonBlue;
        border-radius: 20px;

        span {
            display: flex;
            align-items: center;
            padding: 0 21px;

            &::before {
                content: "\0069";
                min-width: 43px;
                height: 43px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 18px;
                font-family: serif;
                font-size: 35px;
                border: 1px solid $white;
                border-radius: 50%;
            }
        }
    }

}

.block-container {
    display: flex;
    padding-bottom: 7px;
    overflow: auto;
}

.block-subcontainer {
    flex: 1 33%;
    max-width: 435px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.block-table {
    flex: 1 67%;
    display: flex;
    flex-direction: column;

    &__row {
        display: flex;
        font-size: 16px;
        line-height: 15px;
        background: $brandBackground;
        border-left: 1px solid $brandBorderColor;        
        border-right: 1px solid $brandBorderColor;

        .block-table__element:nth-child(2n) {
            border-left: 1px solid $brandBorderColor;        
            border-right: 1px solid $brandBorderColor;
        }

        &:nth-child(2n) {
            background: $white;
        }

        &.header {
            background: $brandPantonBlue;
            color: $white;
            border-radius: 10px 10px 0px 0px;
            border: one;

            .block-table__element {
                border: none;
            }
        }

        &:last-child {            
            border-bottom: 1px solid $brandBorderColor;
        }
    }

    &__element {
        flex: 1;
        height: 60px;
        display: flex;
        align-items: center;
        padding-left: 33px;
    }
}

.block-element {
    flex: 1;
    min-width: 430px;
    min-height: 160px;
    display: flex;
    align-items: center;
    margin-right: 40px;
    background: $white;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);

    &:last-child {
        margin-right: 0;
    }

    &__icon {
        flex: 1 100%;
        max-width: 90px;
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 40px 0 33px;
        background: $brandPantonBlue;
        border-radius: 20px;

        svg {
            width: 42px;
            height: 42px;
            fill: $white;
        }
    }

    &__info {
        flex: 2;
        margin-right: 33px;
    }

    &__title {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 15px;
        color: $brandPantonSubText;
    }

    &__subtitle {
        font-size: 25px;
        line-height: 27px;
    }
}

.currency-unit-rub {
    &::after {
        content: '\20BD';
        margin-left: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media (max-width: 1600px) {
    .main {    
        &__block {
            &.status {
                .block-subcontainer {
                    margin: 0 0 20px 0;
                }

                .block-container {
                    flex-direction: column;
                }
            }
        }
    }
}