@import "../../../../styles/base.scss";


.main-content {
    height: calc(100vh - 70px - 20px - 20px);
    flex: 2 100%;
    flex-direction: column;
    position: sticky;
    top: calc(70px + 20px);
    margin: 0 17px 0 20px;
    transition: all 0.5s ease 0s;
    font-family: "Gotham Pro Regular";
    font-size: 14px;
    color: $brandPantonGrey;
    overflow: auto;
}

/** ********** MAIN STYLES **********/
.main {
    flex-direction: column;
    padding: 0 17px 0 20px;

    &__block {
        margin-bottom: 20px;

        &:last-child {
            margin: 0;
        }

        &.news {
            .block-container {
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 0;
            }
            // .block-element:nth-child(1) {
            //     grid-column: auto / span 3;
            // }
            .block-element:nth-child(1){
                margin-bottom: 10px;
                margin-right: 15px;
            }
            .block-element:nth-child(3) {
                margin-right: 15px;
            }
            .block-element:nth-child(2) {
                grid-row: auto / span 2;
                margin-left: 15px;
            }
        }

        &.data {
            .block-container {
                grid-template-columns: repeat(2, 1fr);
            }
            // .block-element:nth-child(1) {
            //     grid-column: auto / span 3;
            // }
            // .block-element:nth-child(2) {
            //     grid-column: auto / span 2;
            // }
        }

        &.status {
            .block-container {
                grid-template-columns: repeat(2, 1fr);
            }
            // .block-element:nth-child(1) {
            //     grid-column: auto / span 3;
            // }
            // .block-element:nth-child(2) {
            //     grid-column: auto / span 2;
            // }

            // .block-table {
            //     grid-column: auto / span 3;
            // }

            // .discount {
            //     grid-column: auto / span 2;
            // }

            .block-container:nth-child(2) {
                .block-element__subtitle {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        &.seggestions {
            .block-element {
                &__title {
                    padding: 10px 0;
                    font-size: 14px;
                    line-height: 18px;
                    color: $brandPantonSubText;

                    svg {
                        width: 14px;
                        height: 14px;
                        fill: $brandPantonSubText;
                        margin-right: 7px;
                    }
                }

                &__subtitle {
                    margin-bottom: 20px;
                    font-size: 20px;
                    line-height: 23px;
                }

                &__description {
                    margin-bottom: 20px;
                    font-size: 14px;
                    line-height: 18px;
                    color: $brandPantonSubText;
                }
            }
        }
    }


    .block-title {
        margin-bottom: 20px;
        font-size: 25px;
        line-height: 40px;

        &__important {
            height: 77px;
            display: flex;
            align-items: center;
            font-size: 25px;
            line-height: 25px;
            color: $brandPantonBlack;
            // background: $white;
            // box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);

            span {
                display: flex;
                align-items: center;
                // padding: 0 26px;

                // &::before {
                //     content: "\0069";
                //     min-width: 43px;
                //     height: 43px;
                //     display: flex;
                //     justify-content: center;
                //     align-items: center;
                //     margin-right: 15px;
                //     font-family: serif;
                //     font-size: 35px;
                //     border: 2px solid $brandPantonBlue;
                //     border-radius: 50%;
                // }
            }
        }
    }

    .block-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }

    .more__offers {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 14px;
        color: $brandPantonSubText;

        &::after {
            content: "\003E";
            min-width: 33px;
            // height: 13px;
            padding-top: 3px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-left: 10px;
            font-family: serif;
            font-size: 17px;
            // border: 2px solid $brandPantonBlue;
            // border-radius: 50%;
        }
    }

    .block-table {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);

        &__row {
            display: flex;
            font-size: 16px;
            line-height: 15px;
            background: $brandBackground;

            &:nth-child(2n) {
                background: $white;
            }

            &.header {
                font-size: 14px;
                line-height: 17px;
                background: $white;
                color: $brandPantonBlue;
                border-bottom: 1px solid $brandBackground;

                .block-table__element {
                    border: none;
                }
            }

            .block-table__element {
                &:nth-child(1) {
                    flex: 1 35%;
                    justify-content: flex-end;
                }

                &:nth-child(2) {
                    flex: 1 15%;
                    justify-content: flex-end;
                }

                &:nth-child(3) {
                    flex: 1 50%;
                }
            }
        }

        &__element {
            flex: 1 100%;
            height: 50px;
            display: flex;
            align-items: center;
            padding: 0 30px;

            &:nth-child(2n) {
                border-left: 1px solid $brandBackground;
                border-right: 1px solid $brandBackground;
            }

            .sale-conditions {
                display: flex;
                
                .performed {
                    width: 14px;
                    height: auto;
                    margin-left: 10px;
                }
            }
        }
    }

    .block-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .block-element {
        display: flex;
        align-items: center;
        padding: 30px 30px 15px 30px;
        background: $white;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);

        &__chart {
            flex: 1 100%;
            max-width: 141px;
            width: 100%;
            position: relative;
            margin-right: 30px;
            border-radius: 50%;
        }

        &__icon {
            min-width: 90px;
            width: 90px;
            height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 30px;
            background: $brandBackground;

            svg {
                width: 46px;
                height: 46px;
                fill: $brandPantonSubText;
            }
        }

        &__info {
            flex: 2;
            display: flex;
            flex-direction: column;

            // .subtitle__item {
            //     font-size: 14px;
            //     padding: 2px;
            // }
        }

        &__title {
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 15px;
            color: $brandPantonBlue;
            word-break: break-word;

            .offer {
                margin-right: 15px;
                padding: 7px;
                color: $white;
                background-color: $brandPantonBlue;
            }
        }

        &__subtitle {
            font-size: 16px;
            line-height: 18px;
        }

        &__button {
            height: 49px;
            display: flex;
            align-items: center;
            // padding: 0 36px;
            font-size: 15px;
            line-height: 14px;
            color: $brandPantonBlue;
            // border: 1px solid $brandPantonBlue;
            border-radius: 30px;
            cursor: pointer;
            transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);

            svg {
                // width: 40px;
                // height: 40px;
                // margin-left: 15px;
                fill: none;
                stroke: $brandPantonBlue;
            }

            // &:hover {
            //     color: $white;
            //     background: $brandPantonBlue;

            //     svg {
            //         stroke: $white;
            //     }

            // }
        }
    }
}

.currency-unit-rub {
    &::after {
        content: '\20BD';
        margin-left: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.CircularProgressbar .CircularProgressbar-trail {
    stroke: $brandPantonFonts !important;
    stroke-linecap: round;
}

.CircularProgressbar .CircularProgressbar-path {
    stroke: $brandPantonGreen !important;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-text {
    fill: $brandPantonBlack !important;
    font-size: 20px;
    // dominant-baseline: middle;
    text-anchor: middle;
}

// @media (max-width: 1600px) {
//     .main {
//         .status {
//             .block-container {
//                 .block-element:nth-child(3) {
//                     grid-column: auto / span 3;
//                 }

//                 .block-table:nth-child(4) {
//                     grid-column: auto / span 6;
//                 }
//             }

//             .block-element__chart {
//                 max-width: 90px;
//             }
//         }
//     }
// }

@media (max-width: 1400px) {
    .main {
        .seggestions {
            .block-container {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .block-container {
            grid-gap: 20px;
        }
    }
}

// @media (max-width: 1300px) {
//     .main {
//         .status {
//             .block-table {
//                 grid-column: auto / span 5;
//             }
//         }

//         .discount {
//             display: none;
//         }
//     }
// }

