@import '../../../../../styles/base.scss';
@import '../../../../../styles/reset.scss';

.company__news {
    display: flex;
    width: 100%;

    .news__info {
        display: flex;
        flex-direction: column;
        width: 100%;

        .info__title {
            border-bottom: 1px solid $brandPantonFonts;
            padding: 12px 0;
            margin-bottom: 0px;
            color: $brandPantonBlack;

            &:hover {
                cursor: pointer;
            }
            
            .title__icon {
                margin: 20px;
            }

            .title__date {
                color: $brandPantonBlue;
                margin-right: 19px;
            }

            // .title__info {
               // white-space: nowrap;
            // }
        }
    }
}