@import "../../../styles/base.scss";
.side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 24em;
  height: 100%;
  background-color: $white;
  border-right: 2px solid $brandPantonFonts;
  font-weight: 300;
  position: fixed;
  transition: all 0.5s ease 0s;
  z-index: 1; 
  margin-left: 0px;

  &__top {
    margin-top: 5.55rem;
    padding-left: 7px;
    padding-inline-start: 0px;

    li {
      background-color: $white;

      &:hover {
        background-color: $brandPantonFonts;
        cursor: pointer;
      }
    }
    .font {
      margin-left: 0;
      //margin-bottom: 30px;
      font-weight: $medium;
      padding: 30px 0;

      .list-name {
        font-size: 16px;
        color: $brandPantonGrey;
      }
      
      .font-block-hover {
        display: none;
      }
    }
    .subparagraph {
      margin-left: 2em;
      padding-bottom: 3px;

      .list-name {
        font-size: 16px;
        color: $brandPantonText;
      }

      .font-block-hover {
        display: none;
      }
    }
    .side-logo__main {
      background: url('../../../images/main-page.svg') no-repeat;
      width: 18px;
      height: 18px;
      margin-left: 40em;
      background-size: contain;
    }
    .side-logo__sales {
      background: url('../../../images/main-payment.svg') no-repeat;
      width: 18px;
      height: 18px;
      margin-left: 40em;
      background-size: contain;
    }
    .side-logo__main-payment {
      background: url('../../../images/main-payment.svg') no-repeat;
      width: 18px;
      height: 18px;
      margin-left: 40em;
      background-size: contain;
    }
    .side-logo__main-shipment-story {
      background: url('../../../images/main-shipment.svg') no-repeat;
      width: 18px;
      height: 18px;
      margin-left: 40em;
      background-size: contain;
    }
    .side-logo__price-list {
      background: url('../../../images/main-price.svg') no-repeat;
      width: 18px;
      height: 18px;
      margin-left: 40em;
      background-size: contain;
    }
    .side-logo__news {
      background: url('../../../images/main_news_page.png') no-repeat;
      width: 20px;
      height: 22px;
      margin-left: 40em;
    }
    .side-logo__main-archive {
      background: url('../../../images/main_archive.png') no-repeat;
      width: 20px;
      height: 20px;
      margin-left: 40em;
    }
    .side-logo__main-administration {
      background: url('../../../images/settings-user.svg') no-repeat;
      width: 18px;
      height: 18px;
      margin-left: 40em;
      background-size: contain;
    }
    .side-logo__main-users {
      background: url('../../../images/main_users.png') no-repeat;
      width: 20px;
      height: 20px;
      margin-left: 40em;
      border: none;
    }
    // .side-logo__main-app {
    //   background: url('../../../images/web-app.png') no-repeat;
    //   width: 20px;
    //   height: 20px;
    //   margin-left: 1em;
    // }
    .side-logo__main-account {
      background: url('../../../images/profile-user.svg') no-repeat;
      width: 18px;
      height: 18px;
      margin-left: 40em;
      background-size: contain;
    }
    div,
    a {
      color: $white;
      width: 100%;
      display: block;
      -webkit-transition: all 0.25s ease 0s;
      -o-transition: all 0.25s ease 0s;
      transition: all 0.25s ease 0s;
      &:hover {
        cursor: pointer;
        -webkit-transition: all 0.25s ease 0s;
        -o-transition: all 0.25s ease 0s;
        transition: all 0.25s ease 0s;
      }
      li {
        padding: 0.75rem;

        .icon {
          display: inline-block;
          font-size: 1px;
          vertical-align: text-bottom;
          padding-right: 1rem;
          padding-left: 1rem;
          padding-top: 0.25rem;
        }
      }
    }
  }
}

.invisible {

  .main-content {
    margin-left: 7em;
  }
  .side {
    margin-left: -18em;

    &__top {
      padding-left: 300px;

      li {
        background-color: $white;
  
        &:hover {
          background-color: $white;
          cursor: pointer;
        }
      }

      .font {
        position: relative;
        margin-left: 1px;
        margin-right: 7px;
        //transform: translateX(10%);
        //transition: 1s;
        // &:hover {
        //   .font-block-hover {
        //     height: 0;
        //     display: flex;
        //     flex-direction: row;
        //     align-items: center;
        //     justify-content: flex-start;
        //     position: absolute;
        //     padding-left: 10px;
        //     top: -9px;
        //     left: 59px;
        //     bottom: 0;
        //     width: 245px;
        //     height: 46px;
        //     color: #FFFFFF;
        //     font-weight: $medium;
        //     //transform: translateX(100%);
        //     transition-duration: 2s linear;
        //     background-color: $brandSideColor;
        //   }
        //   border-bottom: 2px solid #3f8fda;
        //}
        
          background-color: none;
        
      }
      .side-logo__main {
        background: url('../../../images/main-page.svg') no-repeat;
        width: 18px;
        height: 18px;
        margin-left: 25em;
        background-size: contain;
      }
      .side-logo__sales {
        background: url('../../../images/main-payment.svg') no-repeat;
        width: 18px;
        height: 18px;
        margin-left: 25em;
        background-size: contain;
      }
      .side-logo__main-payment {
        background: url('../../../images/main-payment.svg') no-repeat;
        width: 18px;
        height: 18px;
        margin-left: 25em;
        background-size: contain;
      }
      .side-logo__main-shipment-story {
        background: url('../../../images/main-shipment.svg') no-repeat;
        width: 18px;
        height: 18px;
        margin-left: 25em;
        background-size: contain;
      }
      .side-logo__price-list {
        background: url('../../../images/main-price.svg') no-repeat;
        width: 18px;
        height: 18px;
        margin-left: 25em;
        background-size: contain;
      }
      .side-logo__news {
        background: url('../../../images/main_news_page.png') no-repeat;
        width: 20px;
        height: 22px;
        margin-left: 25em;
      }
      .side-logo__main-archive {
        background: url('../../../images/main_archive.png') no-repeat;
        width: 20px;
        height: 20px;
        margin-left: 25em;
      }
      .side-logo__main-administration {
        background: url('../../../images/settings-user.svg') no-repeat;
        width: 18px;
        height: 18px;
        margin-left: 25em;
        background-size: contain;
      }
      .side-logo__main-users {
        background: url('../../../images/main_users.png') no-repeat;
        width: 20px;
        height: 20px;
        margin-left: 25em;
        border: none;
      }
      .side-logo__main-account {
        background: url('../../../images/profile-user.svg') no-repeat;
        width: 18px;
        height: 18px;
        margin-left: 25em;
        background-size: contain;
      }
      .subparagraph {
        position: relative;
        margin-left: 1px;
        margin-right: 7px;
        // &:hover {
        //   .font-block-hover {
        //     display: flex;
        //     flex-direction: row;
        //     align-items: center;
        //     justify-content: flex-start;
        //     position: absolute;
        //     padding-left: 10px;
        //     top: -9px;
        //     left: 59px;
        //     bottom: 0;
        //     width: 245px;
        //     height: 46px;
        //     color: #FFFFFF;
        //     font-weight: $light;
        //     transition-duration: 2s linear;
        //     background-color: $brandSideColor;
        //   }
        //   border-bottom: 2px solid #3f8fda;
        // }
      }
      .list-name {
        display: none;
        margin-left: 0;
        color: $brandPantonText;
      }
    }
  }
  -webkit-transition: margin-left 0.25s ease 0s;
  -o-transition: margin-left 0.25s ease 0s;
  transition: margin-left 0.25s ease 0s;
  
}
.active-page {
  color: $white !important;
  //background-color: $brandPantonRed;
  -webkit-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
.bottom {
  margin-top: 4rem;
  color: $white;
  padding-left: 3.8rem;
}
.side-projects-header {
  font-family: $code;
  font-weight: 300;
}
.project-listings {
  height: 305px;
  overflow: scroll;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 1px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: $brandPantonRed;
  }
}
.side-footer__copy {
  margin-left: 4em;
  color: $white;
}

// @media all and (max-width: 1366px) {
//   .invisible {
//     .main-content {
//       margin-left: 6em;
//     }
//     .side {
//       margin-left: -16em;
//     }
//     .top {
//       padding-left: 260px;
//       .font {
//         position: relative;
//         margin-left: 1px;
//         margin-right: 7px;
//         //transform: translateX(10%);
//         //transition: 1s;
//         &:hover {
//           .font-block-hover {
//             height: 0;
//             display: flex;
//             flex-direction: row;
//             align-items: center;
//             justify-content: flex-start;
//             position: absolute;
//             padding-left: 10px;
//             top: -9px;
//             left: 59px;
//             bottom: 0;
//             width: 245px;
//             height: 46px;
//             color: #FFFFFF;
//             font-weight: $medium;
//             //transform: translateX(100%);
//             transition-duration: 2s linear;
//             background-color: $brandSideColor;
//           }
//           border-bottom: 2px solid #3f8fda;
//         }
//       }
//       .subparagraph {
//         position: relative;
//         margin-left: 1px;
//         margin-right: 7px;
//         &:hover {
//           .font-block-hover {
//             display: flex;
//             flex-direction: row;
//             align-items: center;
//             justify-content: flex-start;
//             position: absolute;
//             padding-left: 10px;
//             top: -9px;
//             left: 59px;
//             bottom: 0;
//             width: 245px;
//             height: 46px;
//             color: #FFFFFF;
//             font-weight: $light;
//             transition-duration: 2s linear;
//             background-color: $brandSideColor;
//           }
//           border-bottom: 2px solid #3f8fda;
//         }
//       }
//       .list-name {
//         display: none;
//         margin-left: 0;
//       }
//     }
//     -webkit-transition: margin-left 0.25s ease 0s;
//     -o-transition: margin-left 0.25s ease 0s;
//     transition: margin-left 0.25s ease 0s;
    
//   }
// }
// @media all and (max-width: 1172px) {
//   .invisible {
//     .main-content {
//       margin-left: 4em;
//     }
//     .side {
//       margin-left: -17em;
      
//     }
//     .top {
//       padding-left: 260px;
//       .font {
//         position: relative;
//         margin-left: 10px;
//         margin-right: 6px;
//         //transform: translateX(10%);
//         //transition: 1s;
//         &:hover {
//           .font-block-hover {
//             height: 0;
//             display: flex;
//             flex-direction: row;
//             align-items: center;
//             justify-content: flex-start;
//             position: absolute;
//             padding-left: 10px;
//             top: -9px;
//             left: 50px;
//             bottom: 0;
//             width: 245px;
//             height: 46px;
//             color: #FFFFFF;
//             font-weight: $medium;
//             //transform: translateX(100%);
//             transition-duration: 2s linear;
//             background-color: $brandSideColor;
//           }
//           border-bottom: 2px solid #3f8fda;
//         }
//       }
//       .subparagraph {
//         position: relative;
//         margin-left: 10px;
//         margin-right: 7px;
//         &:hover {
//           .font-block-hover {
//             display: flex;
//             flex-direction: row;
//             align-items: center;
//             justify-content: flex-start;
//             position: absolute;
//             padding-left: 10px;
//             top: -9px;
//             left: 59px;
//             bottom: 0;
//             width: 245px;
//             height: 46px;
//             color: #FFFFFF;
//             font-weight: $light;
//             transition-duration: 2s linear;
//             background-color: $brandSideColor;
//           }
//           border-bottom: 2px solid #3f8fda;
//         }
//       }
//       .list-name {
//         display: none;
//         margin-left: 0;
//       }
//     }
//     -webkit-transition: margin-left 0.25s ease 0s;
//     -o-transition: margin-left 0.25s ease 0s;
//     transition: margin-left 0.25s ease 0s;
    
//   }
// }