@import "../../styles/base.scss";

.wrapper {
  display: flex;
  justify-content: space-between;
  font-family: $code;
}
/* width */
::-webkit-scrollbar {
  width: 0;
  height: 7px;
}
::-webkit-scrollbar:horizontal {
  height: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  width: 1px;
  border-radius: 15px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $brandPantonGrey; 
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $brandPantonRed; 
}
//::-webkit-scrollbar {
//  width: 0px;  
//}
@media (max-width: 1368px) and (max-height: 768px) {
  .footer {
    padding-left: 15em;
    height: 7em;
  }
  .main-content {
    height: 78vh;
  }
}
@media (min-width: 1920px) and (min-height: 1080px) {
  .main-content {
    height: 79vh;
  }
  .footer {
    padding-left: 17em;
    padding-right: 22em;
    height: 8em;
  }
}