@import "../../styles/base.scss";

.wrapper {
    display: flex;
    justify-content: space-between;
    font-family: $code;
}

.right {
    background-color: $brandPantonFonts;
    height: 100vh;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}

::-webkit-scrollbar:horizontal {
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $brandPantonSubText;
    width: 1px;
    border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $brandPantonSubText;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $brandPantonSubText;
}

//::-webkit-scrollbar {
//  width: 0px;  
//}

@media (max-height: 900px) {
    .right {
        background-color: $brandPantonFonts;
        height: auto;
    }
}