@import "../../../../styles/base.scss";

/** ********** ACCOUNT STYLES FORM **********/
.account-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
    padding-bottom: 2em;
    height: 100%;

    .form__paragraph {
        padding: 20px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin-left: 40em;
        width: 25%;
        height: 56vh;

        &-name {
            font-size: 15px;
            margin: 15px 0;
        }

        &-input {
            width: 100%;
            height: 28px;
            border: 1px solid $brandPantonGrey;
            border-radius: 5px;

            &:hover {
                border: 1px solid $brandPantonBlue;
            }
        }

        &-description {
            margin: 5px 0 15px 0;
            font-size: 15px;
        }

        &-button {
            margin-top: 15px;
            padding: 10px;
            background-color: $white;
            border: 1px solid $brandPantonBlue;
            border-radius: 10px;
            font-size: 15px;

            &:hover {
                border: 1px solid $brandPantonBlue;
                background-color: $brandPantonBlue;
                color: $white;
            }
        }
    }
}
