@import "../../../styles/base.scss";

/**
 * ********** Стили компонента TopNav **********
 */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: $white;
    border-bottom: 2px solid $brandPantonFonts;
    position: fixed;
    width: 100%;
    z-index: 10000;

    &__left,
    .nav-left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        &__hamburger {
            margin-left: 38px;
            font-size: 30px;
            color: $brandPantonBlue;

            &:hover {
                cursor: pointer;
            }
        }

        &__logo {
            display: block;
            width: 238px;
            height: 30px;
            margin-left: 27px;
            color: $white;
            background: url('../../../images/carddex_logo.svg') no-repeat center;
            background-size: contain;
        }
    }

    &__right,
    .nav-right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: $brandPantonBlack;
        padding-left: 80px;

        &__text,
        .right-text {
            font-size: 16px;
            color: $brandPantonText;

            &__name {
                color: $brandPantonBlue;
            }
        }

        &__info,
        .right-info {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            &__bell,
            .bell {
                display: block;
                padding: 15px 40px 15px 15px;
                border-right: 2px solid $brandPantonFonts;

                &__icon,
                .notifications {
                    display: block;
                    position: relative;
                    width: 30px;
                    height: 30px;
                    background: url("../../../images/bell.svg") no-repeat center;
                    background-size: contain;
                    cursor: pointer;

                    &__number {
                        display: block;
                        position: absolute;
                        top: 1px;
                        right: 0;
                        padding: 1px 4px;
                        border-radius: 50%;
                        font-size: 9px;
                        color: $white;
                        background-color: $brandPantonBlue;
                    }

                }
            }

            &__list,
            .info-list {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0 30px 0 15px;

                &__text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-right: 15px;

                    .name {
                        margin-bottom: 7px;
                        font-weight: $light;
                        font-size: 16px;
                        line-height: 15px;
                        color: $brandPantonText;
                    }

                    .role {
                        font-weight: $light;
                        font-size: 14px;
                        line-height: 13px;
                        color: $brandPantonSubText;
                    }
                }

                &__arrow {
                    display: block;
                    width: 15px;
                    height: 15px;
                    background: url('../../../images/arrow-info.svg') no-repeat center;
                    background-size: contain;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.hamburger-visible {
    display: block !important;
}

.toggle-window {
    transform: rotate(180deg);
}

@media all and (max-width: 1366px) {
    .right-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .top-nav__info {
        font-size: 17px;
    }

    .right-top {
        .email {
            font-size: 14px;
        }

        .role {
            font-size: 14px;
        }
    }
}

@media all and (max-width: 1172px) {
    .right-top {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .top-right__block {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        min-width: 488px;
    }

    .top-nav__info {
        font-size: 17px;
        justify-content: flex-end;
        margin-right: 2em;
    }

    .right-top {
        .email {
            font-size: 14px;
        }

        .role {
            font-size: 14px;
        }
    }
}