@import "../../../styles/base.scss";
.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  //margin-top: 2em;
  height: 70px;
  //border-bottom: 1px solid $brandPantonGrey;
  font-weight: 300;
  background-color: #404040;
  position: fixed;
  width: 100%;
  //min-width: 1100px;
  z-index: 10000;
}
/* Left side of nav */
.left-top {
  margin-left: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;

  .hamburger-top-menu {
    font-size: 35px;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
    color: $white;
    //display: none;
    &:hover {
      cursor: pointer;
    }
  }
  .brand-header {
    margin-left: 2rem;
    font-weight: 500;
    font-family: $code;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    color: $brandPantonBlack;
  }
  .brand-header-sub {
    font-size: 0.5rem;
  }
}
.top-nav__info {
  font-size: 20px;
  color: $white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.top-right__block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  //width: 100%;
}
.side-logo__carddex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  //margin: 3em 3em 2em 3em;
  width: 240px;
  margin: 25px 25px 0 25px;
  color: $white;
  background: url('../../../images/carddex_logo.svg') no-repeat;
  //width: 263px;
  height: 55px;
}
/* Right side of nav */
.right-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-height: 75px;
  margin: 0;
  padding: 0;
  //margin-right: 225px;
  color: $brandPantonBlack;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  .notification-header {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background: url("../../../images/notifications-header.svg") no-repeat;
    cursor: pointer;
  }
  .email-header {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 35px;
    background: url("../../../images/mail-header.svg") no-repeat;
    cursor: pointer;
  }
  .right-top__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .email {
    font-size: 15px;
    margin-right: 1rem;
    color: $white;
    text-align: right;
    font-weight: $light;
    line-height: 0.5rem;
  }
  .role {
    font-size: 15px;
    margin-right: 1rem;
    color: $white;
    text-align: right;
    font-weight: $light;
    line-height: 0.5rem;
  }
  .sign-out {
    color: $brandPantonGrey;
    text-decoration: none;
    font-family: $code;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
    padding: 0.25rem;
    display: inline-block;
    &:hover {
      -webkit-transform: translateY(-2.5px);
          -ms-transform: translateY(-2.5px);
              transform: translateY(-2.5px);
      -webkit-transition: all 0.25s ease 0s;
      -o-transition: all 0.25s ease 0s;
      transition: all 0.25s ease 0s;
      cursor: pointer;
    }
  }
  .profile {
    height: 15px;
    width: 15px;
    padding: 1.25rem;
    //background: url(../../../img/account-top.png) no-repeat;
    background: url('../../../images/account-circle-header.svg') no-repeat;
    border-radius: 50%;
    color: $white;
    margin-right: 2rem;
    display: inline-block;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
    &:hover {
      opacity: 0.9;
      cursor: pointer;
      -webkit-transition: all 0.25s ease 0s;
      -o-transition: all 0.25s ease 0s;
      transition: all 0.25s ease 0s;
    }
  }
  .dropdown {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 2px solid $brandPantonGrey;
    background-color: $white;
    padding: 1rem;
    -webkit-transform: translate(-11rem, 0.9rem);
        -ms-transform: translate(-11rem, 0.9rem);
            transform: translate(-11rem, 0.9rem);
    z-index: 10000;
    p {
      width: 180px;
      color: $white;
      padding-left: 1rem;
      padding-right: 2rem;
      font-size: 1px;
    }
    li {
      width: 180px;
      padding: 1rem;
      color: $brandPantonBlack;
      -webkit-transition: all 0.25s ease 0s;
      -o-transition: all 0.25s ease 0s;
      transition: all 0.25s ease 0s;
      font-size: 14px;
        &:hover {
          cursor: pointer;
          background-color: $brandPantonGrey;
          -webkit-transition: all 0.25s ease 0s;
          -o-transition: all 0.25s ease 0s;
          transition: all 0.25s ease 0s;
        }
    }
    .contact-us {
      position: absolute;
      width: 240px;
      height: 240px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      background-color: $white;
      border: 2px solid $brandPantonGrey;
      padding: 1rem;
      -webkit-transform: translate(-17rem, 0.9rem);
          -ms-transform: translate(-17rem, 0.9rem);
              transform: translate(-17rem, 0.9rem);
      .contact-us__phone {
        padding: 20px 0;
      }
      .contact-us__email {
        padding: 20px 0;
      }
    }
    &:hover {
    cursor: pointer;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
    }
  }
}
.hamburger-visible {
  display: block !important;
}

@media all and (max-width: 1366px) {
  .right-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .top-nav__info {
    font-size: 17px;
  }
  .right-top {
    .email {
      font-size: 14px;
    }
    .role {
      font-size: 14px;
    }
  }
}
@media all and (max-width: 1172px) {
  .right-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .top-right__block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-width: 488px;
  }
  .top-nav__info {
    font-size: 17px;
    justify-content: flex-end;
    margin-right: 2em;
  }
  .right-top {
    .email {
      font-size: 14px;
    }
    .role {
      font-size: 14px;
    }
  }
}