@import "../../../styles/base.scss";

/**
 * ********** Стили компонента TopNav **********
 */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: $white;
  border-bottom: 2px solid $brandPantonFonts;
  position: fixed;
  width: 100%;
  z-index: 10000;

  /* Left side of nav */
  &__left, .nav-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &__hamburger {
      margin-left: 2.1rem;
      font-size: 30px;
      color: $brandPantonText;

      &:hover {
        cursor: pointer;
      }
    }

    &__logo {
      display: block;
      width: 238px;
      height: 30px;
      margin-left: 27px;
      color: $white;
      background: url('../../../images/carddex_logo.svg') no-repeat center;
      background-size: contain;
    }
  }

  /* Right side of nav */
  &__right, .nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: $brandPantonBlack;

    &__text {
      margin-left: 95px;
      font-size: 16px;
      color: $brandPantonText;
    }
    
    &__info, .right-info {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      border-left: 2px solid $brandPantonFonts;

      &__list, .info-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 30px 0 10px;

        &__text {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-right: 10px;

          .name {
            margin-bottom: 7px;
            font-weight: $light;
            font-size: 16px;
            line-height: 15px;
            color: $brandPantonText; 
          }
  
          .role {
            font-weight: $light;
            font-size: 14px;
            line-height: 13px;
            color: $brandPantonSubText;
          }
        }

        .arrow-info {
          display: block;
          width: 15px;
          height: 15px;
          background: url('../../../images/arrow-info.svg') no-repeat center;
          background-size: contain;
        }

      }

      .profile {
        display: block;
        position: relative;
        height: 25px;
        width: 25px;
        padding: 1.25rem;
        background: url('../../../images/account-circle-header.svg') no-repeat;
        border-radius: 50%;
        margin-left: 40px;
        display: inline-block;
  
        &:hover {
          opacity: 0.9;
          cursor: pointer;
        }
  
      }

      .dropdown {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        background-color: $white;
        padding: 1rem;
        z-index: 10000;

        &__item, .item {
          display: flex;
          align-items: center;
          margin: 5px;
          color: $brandPantonText;

          &__profile-icon {
            display: block;
            width: 30px;
            height: 30px;
            background: url('../../../images/profile-user.svg') no-repeat center;
          }

          &__settings-icon {
            display: block;
            width: 30px;
            height: 30px;
            background: url('../../../images/settings-user.svg') no-repeat center;
          }
        }

        &__logout {
          width: 100px;
          padding: 5px 25px;
          margin-top: 10px;
          margin-left: 56%;
          border-radius: 20px;
          color: $white;
          background-color: $brandPantonBlue;
        }
      }
    }
  }
}

.hamburger-visible {
  display: block !important;
}

@media all and (max-width: 1366px) {
  .right-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .top-nav__info {
    font-size: 17px;
  }
  .right-top {
    .email {
      font-size: 14px;
    }
    .role {
      font-size: 14px;
    }
  }
}
@media all and (max-width: 1172px) {
  .right-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .top-right__block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-width: 488px;
  }
  .top-nav__info {
    font-size: 17px;
    justify-content: flex-end;
    margin-right: 2em;
  }
  .right-top {
    .email {
      font-size: 14px;
    }
    .role {
      font-size: 14px;
    }
  }
}