@import "../../../../styles/base.scss";

/**
 * ********** Стили компонента Конфигуратор **********
 */

.configurator {
    display: flex;
    background: $white;

    &__iframe {
        width: 100%;
        height: 90vh;
        padding: 10px;
    }
}